

<NavLink class="nav-link" href="#" @onclick="ToggleSubMenu">
    <span class="@SubMenuTitleIcon" aria-hidden="true"></span> @SubMenuTitle
</NavLink>

@if (expandSubMenu)
{
    <ul class="nav flex-column">
        @ChildContent
    </ul>
}


@code {
    private bool expandSubMenu;

    private void ToggleSubMenu() => expandSubMenu = !expandSubMenu;

    [Parameter] public string? SubMenuTitle { get; set; }
    [Parameter] public string SubMenuTitleIcon { get; set; } = "oi";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();
}
}
