<p class="text-center fs-5 fw-bold">Loading...</p>
<div class="d-flex justify-content-center align-middle">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
</div>

@code {

}
