@page "/users/{userId:guid}/edit"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using GraphUserAdmin.Shared.Users
@using GraphUserAdmin.UI.Services.Users
@using GraphUserAdmin.UI.Shared.Users
@inject UserService userService
@inject NavigationManager NavMan

<h1>B2C User </h1>

@if (User == null)
{
    <Loading />
}
else
{
    <UsersEditForm OnFormCancelled="OnFormCancelled" user=@User id=@UserId />
}

@code {
    [Parameter]
    public Guid UserId { get; set; }

    public UserViewModel? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
           User = await userService.GetUserAsync(UserId);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void OnFormCancelled()
    {
        NavMan.NavigateTo("/users");
    }

}