@page "/users"
@using GraphUserAdmin.UI.Shared.Users

<h1>Users List</h1>
<NavLink class="btn btn-sm btn-primary" href="users/create"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</NavLink>

<UsersListView />