@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<AuthorizeView>
    <Authorized>
        <h2>AAD B2C User Management</h2>
        <div>This tool allows you to manage the users in your B2C directory</div>
    </Authorized>
    <NotAuthorized>
        @if (!context.User.Identity!.IsAuthenticated)
        {
            <RedirectToLogin />
        }
    </NotAuthorized>
</AuthorizeView>
