@page "/users"
@using B2CUserAdmin.UI.Shared.Users

<h1>B2C Users</h1>
<NavLink class="btn btn-sm btn-primary" href="users/create"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</NavLink>

<UsersListView />